{% extends "shop/base.html" %}
{% load static %}


{% block content %}


<div class="text-center">
    <h2 class="mt-4"><strong><span class="bg-warning">주문 내역</span></strong></h2>
</div>

  {% if messages %}
    {% for message in messages %}
   <script> alert("{{ message }}");</script>
    {% endfor %}
  {% endif %}

<br><br>


<div class="container col-8 mt-2 ">

   {% for i in order %}
    <div class="mb-5">
    <table id="example" class="table table-bordered text-center" style="width:100%">
        <thead>
            <tr class="table-primary">
                <th class="text-center">주문일</th>
                <th class="text-center">받는분</th>
                <th class="text-center">이메일</th>
                <th class="text-center">배송지주소</th>
                <th class="text-center">휴대전화</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="align-middle">{{ i.created_at|date:"Y/m/d" }}</td>
                <td class="align-middle">{{ i.name }}</a></td>
                <td class="align-middle">{{ i.email }}</td>
                <td class="align-middle">{{ i.address }}</td>
                <td class="align-middle">{{ i.phone }}</td>
            </tr>
            </tbody>
    </table>

        <table id="example2" class="table table-bordered text-center" style="width:100%">
        <thead>
            <tr class="table-success">
                <th class="text-center">사진</th>
                <th class="text-center">품명</th>
                <th class="text-center">가격</th>
                <th class="text-center">주문수량</th>
                <th class="text-center">카테고리</th>
                <th class="text-center">금액</th>

            </tr>
        </thead>
        <tbody>
         {% for j in i.orderitem.values %}   <!-- jsonfield 로서 i.orderitem.items ,i.orderitem.keys, i.orderitem.values 가능 -->
            <tr>
                <td class="align-middle"><img src="{{ j.product_image }}" width="150" height="150"></td>
                <td class="align-middle">{{ j.product_name }}</a></td>
                <td class="align-middle">{{ j.price }}</td>
                <td class="align-middle">{{ j.quantity }}</td>
                <td class="align-middle">{{ j.product_category }}</td>
                <td class="align-middle">{{ j.total_price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    {% endfor %}

</div>



{% endblock %}