{% extends "shop/base.html" %}
{% load static %}
{% block content %}



<div class="container mt-4 ">
<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr >
                <th class="text-center bg-warning "><h5>사진</h5></th>
                <th class="text-center bg-warning"><h5>제품명</h5></th>
                <th class="text-center bg-warning"><h5>가격</h5></th>
                <th class="text-center bg-warning"><h5>재고량</h5></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><img src="{{ item.image.url }}" width="300" height="300"></td>
                <td class="align-middle text-center display-6">{{ item.name }}</a></td>
                <td class="align-middle text-center display-6">{{ item.price }}원</td>
                <td class="align-middle text-center display-6">{{ item.stock }}개</td>
            </tr>
        </tbody>
    </table>
    </div>



{% endblock %}